<% if article.second_pokemon =="ランドロス霊獣"%>
  <span class="monster-icon monster-01"></span>
<% elsif article.second_pokemon =="ザシアン" %>
  <span class="monster-icon monster-02"></span>
<% elsif article.second_pokemon =="ザシアン王" %>
  <span class="monster-icon monster-03"></span>
<% elsif article.second_pokemon =="サンダー電" %>
  <span class="monster-icon monster-04"></span> 
<% elsif article.second_pokemon =="ゴリランダー" %>
  <span class="monster-icon monster-05"></span> 
<% elsif article.second_pokemon =="ウーラオス悪" %>
  <span class="monster-icon monster-06"></span> 
<% elsif article.second_pokemon =="ウオノラゴン" %>
  <span class="monster-icon monster-07"></span> 
<% elsif article.second_pokemon =="バドレックス霊" %>
  <span class="monster-icon monster-08"></span> 
<% elsif article.second_pokemon =="ポリゴン２" %>
  <span class="monster-icon monster-09"></span> 
<% elsif article.second_pokemon =="ナットレイ" %>
  <span class="monster-icon monster-10"></span> 

<% elsif article.second_pokemon =="ムゲンダイナ" %>
  <span class="monster-icon monster-11"></span>
<% elsif article.second_pokemon =="カプ・レヒレ" %>
  <span class="monster-icon monster-12"></span>
<% elsif article.second_pokemon =="バンギラス" %>
  <span class="monster-icon monster-13"></span>
<% elsif article.second_pokemon =="ミミッキュ" %>
  <span class="monster-icon monster-14"></span> 
<% elsif article.second_pokemon =="ウーラオス水" %>
  <span class="monster-icon monster-15"></span> 
<% elsif article.second_pokemon =="ヒードラン" %>
  <span class="monster-icon monster-16"></span> 
<% elsif article.second_pokemon =="カバルドン" %>
  <span class="monster-icon monster-17"></span> 
<% elsif article.second_pokemon =="ヒヒダルマ氷" %>
  <span class="monster-icon monster-18"></span> 
<% elsif article.second_pokemon =="エースバーン" %>
  <span class="monster-icon monster-19"></span> 
<% elsif article.second_pokemon =="メタモン" %>
  <span class="monster-icon monster-20"></span> 

<% elsif article.second_pokemon =="カイオーガ" %>
  <span class="monster-icon monster-21"></span>
<% elsif article.second_pokemon =="ヌオー" %>
  <span class="monster-icon monster-22"></span>
<% elsif article.second_pokemon =="イベルタル" %>
  <span class="monster-icon monster-23"></span>
<% elsif article.second_pokemon =="ギルガルド" %>
  <span class="monster-icon monster-24"></span>
<% elsif article.second_pokemon =="ウルガモス" %>
  <span class="monster-icon monster-25"></span>
<% elsif article.second_pokemon =="ガブリアス" %>
  <span class="monster-icon monster-26"></span> 
<% elsif article.second_pokemon =="バルジーナ" %>
  <span class="monster-icon monster-27"></span>
<% elsif article.second_pokemon =="レジエレキ" %>
  <span class="monster-icon monster-28"></span>
<% elsif article.second_pokemon =="ドヒドイデ" %>
  <span class="monster-icon monster-29"></span>
<% elsif article.second_pokemon =="ゼルネアス" %>
  <span class="monster-icon monster-30"></span>

<% elsif article.second_pokemon =="ロトム火" %>
  <span class="monster-icon monster-31"></span>
<% elsif article.second_pokemon =="ハッサム" %>
  <span class="monster-icon monster-32"></span>
<% elsif article.second_pokemon =="フェローチェ" %>
  <span class="monster-icon monster-33"></span>
<% elsif article.second_pokemon =="スイクン" %>
  <span class="monster-icon monster-34"></span>
<% elsif article.second_pokemon =="ラッキー" %>
  <span class="monster-icon monster-35"></span>
<% elsif article.second_pokemon =="ウインディ" %>
  <span class="monster-icon monster-36"></span> 
<% elsif article.second_pokemon =="トリトドン" %>
  <span class="monster-icon monster-37"></span>
<% elsif article.second_pokemon =="ラグラージ" %>
  <span class="monster-icon monster-38"></span>
<% elsif article.second_pokemon =="カイリュー" %>
  <span class="monster-icon monster-39"></span>
<% elsif article.second_pokemon =="カプ・テテフ" %>
  <span class="monster-icon monster-40"></span>

<% elsif article.second_pokemon =="ドラパルト" %>
  <span class="monster-icon monster-41"></span>
<% elsif article.second_pokemon =="オーロンゲ" %>
  <span class="monster-icon monster-42"></span>
<% elsif article.second_pokemon =="エアームド" %>
  <span class="monster-icon monster-43"></span>
<% elsif article.second_pokemon =="ブラッキー" %>
  <span class="monster-icon monster-44"></span>
<% elsif article.second_pokemon =="ヤドキング毒" %>
  <span class="monster-icon monster-45"></span>
<% elsif article.second_pokemon =="ロトム水" %>
  <span class="monster-icon monster-46"></span> 
<% elsif article.second_pokemon =="カプ・コケコ" %>
  <span class="monster-icon monster-47"></span>
<% elsif article.second_pokemon =="マンムー" %>
  <span class="monster-icon monster-48"></span>
<% elsif article.second_pokemon =="ホウオウ" %>
  <span class="monster-icon monster-49"></span>
<% elsif article.second_pokemon =="ボルトロス化身" %>
  <span class="monster-icon monster-50"></span>

<% elsif article.second_pokemon =="テッカグヤ" %>
  <span class="monster-icon monster-51"></span>
<% elsif article.second_pokemon =="ファイヤー悪" %>
  <span class="monster-icon monster-52"></span>
<% elsif article.second_pokemon =="ゴチルゼル" %>
  <span class="monster-icon monster-53"></span>
<% elsif article.second_pokemon =="ミロカロス" %>
  <span class="monster-icon monster-54"></span>
<% elsif article.second_pokemon =="アシレーヌ" %>
  <span class="monster-icon monster-55"></span>
<% elsif article.second_pokemon =="ファイヤー火" %>
  <span class="monster-icon monster-56"></span> 
<% elsif article.second_pokemon =="バシャーモ" %>
  <span class="monster-icon monster-57"></span>
<% elsif article.second_pokemon =="ウツロイド" %>
  <span class="monster-icon monster-58"></span>
<% elsif article.second_pokemon =="キュレム白" %>
  <span class="monster-icon monster-59"></span>
<% elsif article.second_pokemon =="ヌケニン" %>
  <span class="monster-icon monster-60"></span>

<% elsif article.second_pokemon =="ドリュウズ" %>
  <span class="monster-icon monster-61"></span>
<% elsif article.second_pokemon =="ボルトロス霊獣" %>
  <span class="monster-icon monster-62"></span>
<% elsif article.second_pokemon =="ネクロズマ鋼" %>
  <span class="monster-icon monster-63"></span>
<% elsif article.second_pokemon =="ハピナス" %>
  <span class="monster-icon monster-64"></span>
<% elsif article.second_pokemon =="グラードン" %>
  <span class="monster-icon monster-65"></span>
<% elsif article.second_pokemon =="バドレックス氷" %>
  <span class="monster-icon monster-66"></span> 
<% elsif article.second_pokemon =="ラプラス" %>
  <span class="monster-icon monster-67"></span>
<% elsif article.second_pokemon =="ランドロス化身" %>
  <span class="monster-icon monster-68"></span>
<% elsif article.second_pokemon =="ジバコイル" %>
  <span class="monster-icon monster-69"></span>
<% elsif article.second_pokemon =="キュウコン氷" %>
  <span class="monster-icon monster-70"></span>

<% elsif article.second_pokemon =="サザンドラ" %>
  <span class="monster-icon monster-71"></span>
<% elsif article.second_pokemon =="ガオガエン" %>
  <span class="monster-icon monster-72"></span>
<% elsif article.second_pokemon =="メタグロス" %>
  <span class="monster-icon monster-73"></span>
<% elsif article.second_pokemon =="ガマゲロゲ" %>
  <span class="monster-icon monster-74"></span>
<% elsif article.second_pokemon =="エルフーン" %>
  <span class="monster-icon monster-75"></span>
<% elsif article.second_pokemon =="アーマーガア" %>
  <span class="monster-icon monster-76"></span> 
<% elsif article.second_pokemon =="ツボツボ" %>
  <span class="monster-icon monster-77"></span>
<% elsif article.second_pokemon =="ラティオス" %>
  <span class="monster-icon monster-78"></span>
<% elsif article.second_pokemon =="マリルリ" %>
  <span class="monster-icon monster-79"></span>
<% elsif article.second_pokemon =="クレセリア" %>
  <span class="monster-icon monster-80"></span>

<% elsif article.second_pokemon =="レシラム" %>
  <span class="monster-icon monster-81"></span>
<% elsif article.second_pokemon =="ピクシー" %>
  <span class="monster-icon monster-82"></span>
<% elsif article.second_pokemon =="コータス" %>
  <span class="monster-icon monster-83"></span>
<% elsif article.second_pokemon =="ポットデス" %>
  <span class="monster-icon monster-84"></span>
<% elsif article.second_pokemon =="デンチュラ" %>
  <span class="monster-icon monster-85"></span>
<% elsif article.second_pokemon =="カプ・ブルル" %>
  <span class="monster-icon monster-86"></span> 
<% elsif article.second_pokemon =="クレッフィ" %>
  <span class="monster-icon monster-87"></span>
<% elsif article.second_pokemon =="ジガルデ" %>
  <span class="monster-icon monster-88"></span>
<% elsif article.second_pokemon =="タチフサグマ" %>
  <span class="monster-icon monster-89"></span>
<% elsif article.second_pokemon =="エレザード" %>
  <span class="monster-icon monster-90"></span>

<% elsif article.second_pokemon =="ボーマンダ" %>
  <span class="monster-icon monster-91"></span>
<% elsif article.second_pokemon =="サンダー格" %>
  <span class="monster-icon monster-92"></span>
<% elsif article.second_pokemon =="トゲキッス" %>
  <span class="monster-icon monster-93"></span>
<% elsif article.second_pokemon =="ガラガラ霊" %>
  <span class="monster-icon monster-94"></span>
<% elsif article.second_pokemon =="ズガドーン" %>
  <span class="monster-icon monster-95"></span>
<% elsif article.second_pokemon =="アーゴヨン" %>
  <span class="monster-icon monster-96"></span>
<% elsif article.second_pokemon =="カビゴン" %>
  <span class="monster-icon monster-97"></span> 
<% elsif article.second_pokemon =="シャンデラ" %>
  <span class="monster-icon monster-98"></span>
<% elsif article.second_pokemon =="マッシブーン" %>
  <span class="monster-icon monster-99"></span>
<% elsif article.second_pokemon =="ギャラドス" %>
  <span class="monster-icon monster-100"></span>
<% elsif article.second_pokemon =="ゲンガー" %>
  <span class="monster-icon monster-101"></span>
<% else %>  
  <span class="monster-icon monster-999"></span>

<%end%>