<%# 3秒後にリダイレクト %>
<meta http-equiv="refresh" content=" 3; url= /articles">
<%# 3秒後にリダイレクト %>

<div class="success-main-body">
  <div class="success-second-body">
    <div class="success-text-area">
     <p class="success-first-text"><span class="ball-image"></span>構築が投稿されました<span class="ball-image"></span></p>
     <p class="success-second-text">自動で構築トップページに戻ります</p>
     <p class="success-third-text">自動でリダイレクトしない場合は<%= link_to "こちら", articles_path, class: 'success-link'%>をクリック</p>
    </div>
  </div>

<div>

