<%# 5秒後にトップへリダイレクト %>
<meta http-equiv="refresh" content=" 3; url= /">
<%# 5秒後にトップへリダイレクト %>

<div class="success-main-body">
  <div class="success-second-body">
    <div class="success-text-area">
     <p class="success-first-text"><span class="ball-image"></span>お問い合わせが送信されました<span class="ball-image"></span></p>
     <p class="success-second-text">自動でトップページに戻ります</p>
     <p class="success-third-text">自動でリダイレクトしない場合は<%= link_to "こちら", root_path, class: 'success-link'%>をクリック</p>
    </div>
  </div>

<div>

