<div class="zukan-main">
  <div class="zukan-body">
    <div class="zukan-second">

      <div class="zukan-pokemon-field">
        <div class="zukan-monster n0200">
        </div>
        <div class="zukan-name">ザシアン</div>
        
      </div>

      <div class="zukan-field">
        <div class="kind"><span class="bold">分類</span>：つわものポケモン</div>
        <div class="type"><span class="bold">タイプ</span>：フェアリー</div>
        <div class="special"><span class="bold">特性</span>：ふとうのけん</div>
        
      </div>


    </div>
    <h1 class="zukan-show">図鑑説明</h1>
    <div class="zikan-intr">でんせつの えいゆうと よばれる ポケモン。 きんぞくを とりこみ ぶぐに へんかさせ たたかう。</div>
  </div>
<div>