<div class="fresh-body">

  <div class="fresh-main-body">
    <div class="fresh-second-body">
      <div class="first-field">
        <h2 class="fresh-title">POKEbrary</h2>
        <p class="intrduce">「POKEbrary」はポケットモンスターのゲームの対戦におけるパーティ構築の共有サイトです。<br>
            多くのプレイヤーのみなさんが投稿した構築記事を見ることができます。<br>
            TOPページ左の「構築記事」をクリックしていただくことで記事の閲覧ページへ進みます。<br>
            構築記事のページでは記事の閲覧ができ、構築TOPページには新着記事、注目記事、ポケモン使用率のランキングがあります。<br>
            また、ページ右上の「記事を検索する」ボタンから記事の検索ページへ進むことができます。検索ページでは、調べたいポケモンの
            名前を入れて検索していただくことで、そのポケモンが含まれている構築の記事の一覧を表示します。<br>
            注目記事の項目下部、「過去の記事一覧はこちら」のリンクから過去全ての記事を表示することができます。<br>
            構築記事のページでは、お持ちのユーザーでログインしていただくことで、構築記事へのコメント、構築記事の新規投稿を行うことができます。
            (※ユーザー登録は必須ではありません)<br><br>
            ・すでにユーザーをお持ちの方　→　<%= link_to 'ログイン', new_user_session_path , class:'fresh-login'%><br>
            ・すでにユーザーをお持ちの方　→　<%= link_to '新規登録', new_user_registration_path , class:'fresh-login'%>
            <br><br>
            メインTOPページ2番目の「ポケモン情報」には各ポケモンの詳細情報が記載されています。<br>
            メインTOPページ4番目の「お問い合わせ」では、当サイトに関する質問や要望、その他不具合の報告などを行うことができます。<br>
            注意事項をご確認のうえご利用ください。<br><br><br>
            ポケモントレーナーのみなさまのお力になれますと幸いです。



      </div>  
    </div>
  </div>

</div>