<div class="tool">

  <div class="timer-field">
    <h1 class="tool-title">対戦用ツール</h1>
    <form class="time-form" name="timer">
      <div class="timer-font">
      <input class="timer-text" type="text" value="20"><span class="timer-sub">分</span>
      <input class="timer-text" type="text" value="00"><span class="timer-sub">秒</span><br>
      </div>

      <div class="timer-button">
      <input class="timer-btn" type="button" value="スタート" onclick="cntStart()">
      <input class="timer-btn" type="button" value="ストップ" onclick="cntStop()">
      </div>
    </form>

    <div class="party-field">
      <div class="my-party">
        <h2 class="party-text">自分のパーティ</h2>
        <div class="my-field"><span class="tool-monster"></span>ポケモン①<input type="text"></div>
        <div class="my-field"><span class="tool-monster"></span>ポケモン②<input type="text"></div>
        <div class="my-field"><span class="tool-monster"></span>ポケモン③<input type="text"></div>
        <div class="my-field"><span class="tool-monster"></span>ポケモン④<input type="text"></div>
        <div class="my-field"><span class="tool-monster"></span>ポケモン⑤<input type="text"></div>
        <div class="my-field"><span class="tool-monster"></span>ポケモン⑥<input type="text"></div>
      </div>

      <div class="my-party">
        <h2 class="party-text">相手のパーティ</h2>
        <div class="my-field"><span class="tool-monster"></span>ポケモン①<input type="text"></div>
        <div class="my-field"><span class="tool-monster"></span>ポケモン②<input type="text"></div>
        <div class="my-field"><span class="tool-monster"></span>ポケモン③<input type="text"></div>
        <div class="my-field"><span class="tool-monster"></span>ポケモン④<input type="text"></div>
        <div class="my-field"><span class="tool-monster"></span>ポケモン⑤<input type="text"></div>
        <div class="my-field"><span class="tool-monster"></span>ポケモン⑥<input type="text"></div>
      </div>


    </div>

    <div class="memo-area">
    <h2 class="memo-title">メモ欄</h2>
      <textarea class="memo-field"></textarea>
    <div>





  </div>

</div>