.calendar-wrapper{
  width: 325px;
  height: 290px;
  margin: 0 auto;
  color: #666;
  background-color: rgb(248, 248, 248);
  border-radius: 5px 5px 0 0;
 
}

.calendar-title{
  font-size: 20px;
  background-color: black;
  color: #fff;
  font-weight: inherit;
  border-radius: 5px 5px 0 0 ;
  margin: 0 auto;
}
#header {
  text-align: center;
  font-size: 22px;
  width: 100%;
  padding: 5px 5px 0 0 ;
  font-family: 'M PLUS Rounded 1c', sans-serif;
  text-align: right;
}

#calendar {
  text-align: center;
  width: 100%;
  padding: 10px;
  font-size: 16px;
}
table {
  outline: 2px solid #ddd;
  border-collapse: collapse;
  width: 100%;
}
th {
  color: #000;
}
th, td {
  outline: 1px solid #ddd;
  padding:5px;
  text-align: center;
}

td:first-child {
  color: red;
}

td:last-child {
  color: blue;
}

td.disabled {
  color: #ccc;
}

td.today {
  background-color: rgb(61, 79, 238);
  color: #fff;
}


#next-prev-button {
  position: relative;
}



#next-prev-button{
  display: flex;
  align-items: center;
}

#next-prev-button .prev-button:hover{
  opacity: 0.7;
}

#prev {
  float: left;
}

#next {
  float: right;
}
