/* ========== index ========== */
.infomation-body{
  height: 80vh;
  width: 100vw;
}
.infomation-second-body{
  height: 100%;
  display: flex;
  justify-content: center;
}

.site-title-index{
  width: 36%;
  height: 10%;
  background-color: #ffffff;
  margin-top: 40px;
  margin-bottom: 20px;
  text-align: center;
  margin-left: 32%;
  margin-right: 32%;
  padding-top: 7px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
}

.myu-logo{
  width: 65px;
  height: 65px;
  background-image: url(myu.png);
  display: inline-block;
  background-size: contain ;
  background-repeat: no-repeat;
}

.site-title-top{
  font-family: 'M PLUS Rounded 1c', sans-serif;
  font-weight: 5px;
  text-align: center;
  margin-right: 15px;
}

.select{
  width: 95%;
  height:100%;
  background-image: url('switch.png');
  background-size: contain ;
  background-repeat: no-repeat;
  display: flex;
  position: relative;
}

.clock{
  position:absolute;
  left:58%;
  top:14%;
  width: 20%;
}

.clock-font{
  color: #ece8e8;
}

.select-div{
  position:absolute;
	left:25%;
  top: 23%;
  width: 50%;
  height: 50%;
}

.select-li{
  display: inline;
}

.select-ul{
  display: flex;
  justify-content:space-between;
  align-items: center;
}

.select-list-1{
  display: inline;
  display: inline-block;
  background: #ffffff;
  width: 149px;
  height: 149px;
  border-radius: 50%;
  cursor: pointer;
  background-image: url(kotiku.png);
  background-size: contain ;
  background-repeat: no-repeat;
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  padding: 0;
  appearance: none;
}
.select-list-1:hover{
    transform: scale(1.2);
    transition-duration: 0.5s;
}

.select-list-2{
  display: inline;
  display: inline-block;
  background: #ffffff;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  cursor: pointer;
  background-image: url(nibanme.png);
  background-size: contain ;
  background-repeat: no-repeat;
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  padding: 0;
  appearance: none;
}

.select-list-2:hover {
  transform: scale(1.2);
  transition-duration: 0.5s;

}


.select-list-3{
  display: inline;
  display: inline-block;
  background: #ffffff;
  width: 149px;
  height: 149px;
  border-radius: 50%;
  cursor: pointer;
  background-image: url(hajimete.png);
  background-size: contain ;
  background-repeat: no-repeat;
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  padding: 0;
  appearance: none;
}

.select-list-3:hover{
  transform: scale(1.2);
  transition-duration: 0.5s;

}
.select-list-4{
  display: inline;
  display: inline-block;
  background: #ffffff;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  cursor: pointer;
  background-image: url(toiawase.png);
  background-size: contain ;
  background-repeat: no-repeat;
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  padding: 0;
  appearance: none;
}

.select-list-4:hover{
  transform: scale(1.2);
  transition-duration: 0.5s;

}

.select-monster{
  display: flex;
  justify-content: space-between;
  align-items: center;

}

/* ========== ゲンガー画像 ========== */
.first-monster{
  background-image: url(genga.png);
  background-size: contain ;
  background-repeat: no-repeat;
  background-color: transparent;
  width: 340px;
  height: 350px;
  position: absolute;
  top: 43%;
  left: 20%;
  
}
/* ========== ゲンガー画像 ========== */

/* ========== リザードン画像 ========== */
.second-monster{
  background-image: url(rizardon.png);
  background-size: contain ;
  background-repeat: no-repeat;
  background-color: transparent;
  width: 200px;
  height: 200px;
  position: absolute;
  top: 50%;
  left: 24%;
  display: none;
}
/* ========== リザードン画像 ========== */


/* ========== マリルリ画像 ========== */
.third-monster{
  background-image: url(mariruri.png);
  background-size: contain ;
  background-repeat: no-repeat;
  background-color: transparent;
  width: 220px;
  height: 190px;
  position: absolute;
  top: 50%;
  left: 24%;
  display: none;
}
/* ========== マリルリ画像 ========== */

/* ========== ロトム画像 ========== */
.force-monster{
  background-image: url(rotom.png);
  background-size: contain ;
  background-repeat: no-repeat;
  background-color: transparent;
  width: 200px;
  height: 200px;
  position: absolute;
  top: 51%;
  left: 25%;
  display: none;
}
/* ========== ロトム画像 ========== */

/* ========== ラッキー画像 ========== */
.fifth-monster{
  background-image: url(lukky.png);
  background-size: contain ;
  background-repeat: no-repeat;
  background-color: transparent;
  width: 230px;
  height: 160px;
  position: absolute;
  top: 55%;
  left: 26%;
  display: none;
}
/* ========== ラッキー画像 ========== */



/* ========== ゲンガー文 ========== */
.first-message-box{
  position: absolute;
  top: 61%;
  left:40%;
  width: 36%;
  height: 17%;
  border-radius: 10px;
  background-image: url(frame.png);
  background-size: contain ;
  background-repeat: no-repeat;
  background-color: transparent;
  padding: 0.5em 1em;
  margin: 2em 0;
  color: #232323;
  background: #e9bde5;
  border-left: solid 20px #913e7f;
  margin: 0; 
  padding: 0;
  font-size: 23px;
  font-weight: bold;
  
}
.first-message{
  font-family: 'M PLUS Rounded 1c', sans-serif;
}
/* ========== ゲンガー文 ========== */


/* ========== 書体読み込み ========== */
@import url('https://fonts.googleapis.com/css?family=M+PLUS+Rounded+1c');
/* ========== 書体読み込み ========== */

/* ========== リザードン文 ========== */
.second-message-box{
  position: absolute;
  top: 61%;
  left:40%;
  width: 36%;
  height: 17%;
  border-radius: 10px;
  background-image: url(frame.png);
  background-size: contain ;
  background-repeat: no-repeat;
  background-color: transparent;
  padding: 0.5em 1em;
  margin: 2em 0;
  color: #232323;
  background: #ec9898;
  border-left: solid 20px #e23b1e;
  margin: 0; 
  padding: 0;
  font-size: 23px;
  font-weight: bold;
  display: none;
}
.second-message{
  font-family: 'M PLUS Rounded 1c', sans-serif;
}
/* ========== リザードン文 ========== */

/* ========== マリルリ文 ========== */
.third-message-box{
  position: absolute;
  top: 61%;
  left:40%;
  width: 36%;
  height: 17%;
  border-radius: 10px;
  background-image: url(frame.png);
  background-size: contain ;
  background-repeat: no-repeat;
  background-color: transparent;
  padding: 0.5em 1em;
  margin: 2em 0;
  color: #232323;
  background: #acb6f0;
  border-left: solid 20px #3546e2;
  margin: 0; 
  padding: 0;
  font-size: 23px;
  display: none;
}
.third-message{
  font-family: 'M PLUS Rounded 1c', sans-serif;
}
/* ========== マリルリ文 ========== */

/* ========== ロトム文 ========== */
.force-message-box{
  position: absolute;
  top: 61%;
  left:40%;
  width: 36%;
  height: 17%;
  border-radius: 10px;
  background-image: url(frame.png);
  background-size: contain ;
  background-repeat: no-repeat;
  background-color: transparent;
  padding: 0.5em 1em;
  margin: 2em 0;
  color: #232323;
  background: #ecc598;
  border-left: solid 20px #e27435;
  margin: 0; 
  padding: 0;
  font-size: 23px;
  display: none;
}
.force-message{
  font-family: 'M PLUS Rounded 1c', sans-serif;
}
/* ========== ロトム文 ========== */

/* ========== ラッキー文 ========== */
.fifth-message-box{
  position: absolute;
  top: 61%;
  left:40%;
  width: 36%;
  height: 17%;
  border-radius: 10px;
  background-image: url(frame.png);
  background-size: contain ;
  background-repeat: no-repeat;
  background-color: transparent;
  padding: 0.5em 1em;
  margin: 2em 0;
  color: #232323;
  background: #ffaae6;
  border-left: solid 20px #ec44d0;
  margin: 0; 
  padding: 0;
  font-size: 23px;
  display: none;
}
.fifth-message{
  font-family: 'M PLUS Rounded 1c', sans-serif;
}
/* ========== ラッキー文 ========== */

.notice-body{
  width: 70vh;
  height: 80vh;
  background-color: #ffffff;
  margin: 0 auto;
  margin-bottom: 50px;
  overflow: scroll;
  border-radius: 10px 10px 0 0;
}

.notice-title{
  width: 100%;
  height:50px;
  text-align: center;
  font-weight: 1000;
  font-family: 'M PLUS Rounded 1c', sans-serif;
  background-image: url(kinokoko.png);
  background-size: contain ;
  background-repeat: no-repeat;
  background-color: transparent;
  background-position: 27%;
  background-color: #d6f1db;
  border-radius: 10px 10px 0 0;
}

.notice-area{
  width: 100%;
  max-height: 200px;
  background-color:#e3ebee;
  border: 2px dotted #333233;
  padding: 2px 2px 0 2px;
}

.notice-day{
  text-align: right;
  font-size: 12px;
  padding-top: 10px;
  margin-bottom: 5px;
  
}

.notice-text-area{
  padding-top: 10px;
  padding-bottom: 10px;
  
}

.notice-text{
  margin-bottom: 20px;
}

.info-new-btn{
  width: 200px;
  height: 50px;
  background-color: rgb(0, 153, 255);
  box-shadow: 0px 8px 8px 0px rgba(22, 21, 21, 0.5);
  font-family: 'M PLUS Rounded 1c', sans-serif;
  font-size: 20px;
  font-weight: bold;
  border-radius: 30px;
  cursor: pointer;
}

.info-new{
  text-align: center;
  margin-bottom: 30px;
  margin-top: 60px;
}

.info-new-btn:hover{
  opacity: 0.7;
  
}

.modal-open-delete{
  cursor: pointer;
  text-align: right;
  font-size: 14px;
}

#notice-delete{
  display: none;
}




/* ========== モーダルウィンドウ ========== */


/* モーダル コンテンツエリア */
#modal-new {
display: none;
width: 500px;
height: 300px;
margin: 0;
padding: 0;
background-color: #d8eeee;
color: #666666;
position:fixed;
z-index: 2;
border-radius: 10px;
}

#modal-delete {
  display: none;
  width: 500px;
  height: 300px;
  margin: 0;
  padding: 0;
  background-color: #d8eeee;
  color: #666666;
  position:fixed;
  z-index: 2;
  border-radius: 10px;
  }

  #comment-new {
    display: none;
    width: 500px;
    height: 300px;
    margin: 0;
    padding: 0;
    background-color: #d8eeee;
    color: #666666;
    position:fixed;
    z-index: 2;
    border-radius: 10px;
    }

.info-text-form{
  text-align: center;
  margin-top: 30px;

}

.infomation-text-area{
  width: 400px;
  height: 200px;
  font-size: 16px;
}

.info-delete-form{
  width: 500px;
  height: 350px;
}

.info-delete-text{
  width: 400px;
  height: 200px;
  background-color: #ffffff;
  margin: 0 auto;
  margin-top: 25px;
}

.info-delete-button{
  width: 150px;
  height: 40px;
  background-color: rgb(107, 175, 221);
  border-radius: 30px;
  font-family: 'M PLUS Rounded 1c', sans-serif;
  font-size: 17px;
  cursor: pointer;
  margin-bottom: 9px;
}

.info-delete-button:hover{
  opacity: 0.7;
  
}



.info-delete-question{
  font-size: 14px;
}



.text-button{
  text-align: center;
  margin-top: 9px;
  
}

.text-submit{
  width: 150px;
  height: 40px;
  background-color: rgb(107, 175, 221);
  border-radius: 30px;
  font-family: 'M PLUS Rounded 1c', sans-serif;
  font-size: 17px;
  cursor: pointer;
}

.text-submit:hover{
  opacity: 0.7;
  
}


/* モーダル 背景エリア */
#modal-bg {
display:none;
width:100%;
height:100%;
background-color: rgba(0,0,0,0.5);
position:fixed;
top:0;
left:0;
z-index: 1;
}
/* ========== モーダルウィンドウ ========== */



/* ========== index ========== */



